<!-- Header -->
<nav id="header" class="navbar navbar-expand-md shadow-none navbar-light bg-white z-index-3 py-3">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img width="32" height="32" src="img/logo.png"></a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="about.html">
                        关于我们
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="works.html">
                        精选作品
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="members.html">
                        成员列表
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="join.html">
                        加入我们
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Header -->

<!-- Footer -->
<footer id="footer" class="footer mt-auto py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col py-2">
                <span class="text-muted text-justify">&copy; 2019-<span id="nowDate"></span>
                    <a href="index.html" class="link-secondary text-decoration-none">Lights Studio</a>.
                </span>
            </div>
            <div class="col">
                <span class="text-muted text-justify float-end">
                    <div class="float-end">
                        <a class="text-decoration-none me-1" target="_blank" href="https://twitter.com/LIGHTS_MC2020">
                            <img src="img/social/twitter.svg">
                        </a>
                        <a class="text-decoration-none" target="_blank" href="mailto:lightsmc2020@gmail.com">
                            <img src="img/social/email.svg">
                        </a>
                    </div><br>
                    <a class="link-secondary text-decoration-none" target="_blank" href="https://beian.miit.gov.cn">
                        粤ICP备2021166927号-7
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->