<!-- Header -->
<nav id="header" class="navbar navbar-expand-md shadow-none navbar-light bg-white z-index-3 py-3">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img width="32" height="32" src="img/logo.png"></a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="about.html">
                        关于我们
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="works.html">
                        作品展示
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="members.html">
                        成员列表
                    </a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link text-decoration-none" href="join.html">
                        加入我们
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Header -->

<!-- Footer -->
<footer id="footer" class="footer mt-auto py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-muted text-justify">&copy; 2019-<span id="nowDate"></span> <a href="index.html"
                        class="link-secondary text-decoration-none">Lights Studio</a>.</span>
            </div>
            <div class="col">
                <span class="text-muted text-justify float-end">
                    <a class="me-2" target="_blank" href="https://twitter.com/LIGHTS_MC2020">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="#7B809A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-twitter">
                            <path
                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="me-2" target="_blank" href="mailto:lightsmc2020@gmail.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="#7B809A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-mail">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->